body {
  background-image: url("https://live.staticflickr.com/65535/51418568464_55f1a6f126_o_d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

.weekday-container {
  width: 100%;
  overflow: hidden;
  background: ;
  margin: 20px auto;
  color: white;
}

.weekday-container ul {
  padding: 0px;
  margin: 0px;
}

.weekday-container ul li {
  list-style: none;
  float: left;
  width: 20%;
  height: 300px;
  background-color: ;
  margin: 40px 40px 0px 20px;
  box-sizing: content-box;
}

.weekday-container ul li .weekday {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: ;
  text-align: center;
}

@media screen {
  max-width: 1250px;
  .weekday-container ul li {
    width: 50%;
    margin-left: 60px;
  }
}
