body {
  background-image: url("https://live.staticflickr.com/65535/51418568464_55f1a6f126_o_d.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
body h1 {
  font-family: "Allison", cursive;
  font-size: 60px;
  color: white;
  text-shadow: 3px 3px 5px #000000;
}

input {
  border-radius: 25px;
}

button {
  opacity: 75%;
}

#notes button {
  border-radius: 25px;
}

.weekday-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
  margin: 20px auto;
  color: white;
  font-family: "Raleway";
  font-size: large;
  text-shadow: 2px 2px 2px #000000;
}

.weekday-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px;
  margin: 50px;
}

.weekday-container ul li {
  text-decoration: none;
  float: left;
  width: 20%;
  height: 350px;
  margin: 40px 40px 40px 20px;
  box-sizing: content-box;
  overflow: auto;
}

@media screen and (max-width: 800px) {
  .weekday-container ul li {
    width: 50%;
    margin-left: 60px;
  }
}
